<html>
<body>
<p>
<a href="http://127.0.0.1:8000/home_page/">Home</a>
||
<a href="http://127.0.0.1:8000/logout/">Logout</a>
</p>
<p>
<a href="http://127.0.0.1:8000/following/{{username}}">Following</a>
||
<a href="http://127.0.0.1:8000/followers/{{username}}">Followers</a>
</p>

    <form  action=" " method="POST">
        <p><input type="submit"  value="Follow"></p>
    </form>


{% for tweet in tweets %}
<p>---------------------------------------</p>
	<p>{{ tweet }}</p>
{% endfor %}

</body>
</html>
